*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(205,241,255);
    background: linear-gradient(90deg, rgba(205,241,255,1) 0%, rgba(182,201,200,1) 51%, rgba(217,252,248,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-login{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 40px 0 100px 0;
}
input{
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    background: rgb(117,159,176);
    background: linear-gradient(90deg, rgba(117,159,176,1) 0%, rgba(136,190,188,1) 51%, rgba(117,159,176,1) 100%);
}
input[type="submit"]:hover{
    color: white;
}

.content-card{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.form-cadastro{
    width: 300px;
    border: 1px solid rgb(155, 198, 213);
    padding: 20px;
}

.produtos-cadastrados{
    width: 600px;
    height: 450px;
    overflow: auto;
}
.produtos-cadastrados::-webkit-scrollbar-track{
	border-radius: 5px;
	background-color: #f5f5f593;
}
.produtos-cadastrados::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f500;
}
.produtos-cadastrados::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: rgb(155, 198, 213);
}

#cadastrados{
    border-collapse: collapse;
}
#cadastrados td, tr, th{
    border: 1px solid rgb(155, 198, 213);
    padding: 10px 20px;
    text-align: center;
}
#corpo-cadastrados tr:nth-child(even){
    background-color: rgb(148, 188, 194);
}
#corpo-cadastrados tr:hover{
    background-color: rgba(207, 237, 243, 0.63);
}